<div class="container py-5">
  <div class="row g-4">
    
    <div class="col-md-6">
      <div class="card shadow-sm border-0 p-4 h-100">
        <h2 appHoverHighlight class="text-primary border-bottom pb-2 mb-4">Custom Directive</h2>
        <div class="p-3 bg-light rounded">
          <h4 class="text-dark">Custom Directive for Hover Highlight</h4>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow-sm border-0 p-4 h-100">
        <h2 appHoverHighlight class="text-success border-bottom pb-2 mb-4">Custom Pipes</h2>
        <h4 class="text-dark mb-3">
          {{ 'custome pipes  for Text to capitalize the text' | capitalize }}
        </h4>
        <h5 class="text-muted">
          Price in PKR: <strong>{{ 100 | usdpkr }}</strong>
        </h5>
      </div>
    </div>

  </div>
</div>
